# Setup caching
cache:
  directories:
    - $HOME/.cache/composer/files
    - $HOME/.npm
    - node_modules

branches:
  only:
    - master

# Test in modern and recent versions of PHP & Node.
# Run each code style tool in containers specific to that tool's language.
jobs:
  include:
    - language: php
      php: 8.1
      install:
        # For PHP 8.0+, we need to ignore platform reqs as PHPUnit 7 is still used.
        - composer install --ignore-platform-reqs
      script:
        # For PHP 8.1+, we need to ignore the config file so that PHPUnit 7 doesn't try to read it and cause an error.
        # Instead, we pass all required settings as part of the phpunit command.
        - vendor/bin/phpunit --no-configuration --bootstrap=tests/bootstrap.php --dont-report-useless-tests tests/AllSniffs.php
        - vendor/bin/phpunit --no-configuration --bootstrap=tests/bootstrap.php --dont-report-useless-tests tests/FixtureTests.php

    - language: php
      php: 8.2
      install:
        # For PHP 8.0+, we need to ignore platform reqs as PHPUnit 7 is still used.
        - composer install --ignore-platform-reqs
      script:
        # For PHP 8.1+, we need to ignore the config file so that PHPUnit 7 doesn't try to read it and cause an error.
        # Instead, we pass all required settings as part of the phpunit command.
        - vendor/bin/phpunit --no-configuration --bootstrap=tests/bootstrap.php --dont-report-useless-tests tests/AllSniffs.php
        - vendor/bin/phpunit --no-configuration --bootstrap=tests/bootstrap.php --dont-report-useless-tests tests/FixtureTests.php

    - language: php
      php: 8.3
      install:
        # For PHP 8.0+, we need to ignore platform reqs as PHPUnit 7 is still used.
        - composer install --ignore-platform-reqs
      script:
        # For PHP 8.1+, we need to ignore the config file so that PHPUnit 7 doesn't try to read it and cause an error.
        # Instead, we pass all required settings as part of the phpunit command.
        - vendor/bin/phpunit --no-configuration --bootstrap=tests/bootstrap.php --dont-report-useless-tests tests/AllSniffs.php
        - vendor/bin/phpunit --no-configuration --bootstrap=tests/bootstrap.php --dont-report-useless-tests tests/FixtureTests.php

    - language: node_js
      node_js: 20
      install:
        - npm ci
        - cd packages/eslint-config-humanmade
        - npm ci
        - cd ../..
      script:
        - npm run test:eslint

    - language: node_js
      node_js: 20
      install:
        - npm ci
        - cd packages/stylelint-config
        - npm ci
        - cd ../..
      script:
        - npm run test:stylelint

    - language: node_js
      node_js: 22
      install:
        - npm ci
        - cd packages/eslint-config-humanmade
        - npm ci
        - cd ../..
      script:
        - npm run test:eslint

    - language: node_js
      node_js: 22
      install:
        - npm ci
        - cd packages/stylelint-config
        - npm ci
        - cd ../..
      script:
        - npm run test:stylelint

    - language: node_js
      node_js: 24
      install:
        - npm ci
        - cd packages/eslint-config-humanmade
        - npm ci
        - cd ../..
      script:
        - npm run test:eslint

    - language: node_js
      node_js: 24
      install:
        - npm ci
        - cd packages/stylelint-config
        - npm ci
        - cd ../..
      script:
        - npm run test:stylelint
